/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, button,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* grid layout */
.grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px repeat(8, 1fr) 50px;
  grid-template-areas: "hcn dtl flp flp" "chr chr chr chr" "chr chr chr chr" "chr chr chr chr" "chr chr chr chr" "mar mar mar mar" "mar mar mar mar" "mdt mdt mdt mdt" "tfe tfe tfe tfe" "ftr ftr ftr ftr";
}

@media only screen and (min-width: 992px) {
  .grid {
    grid-template-rows: 50px repeat(7, 1fr) 50px;
    grid-template-areas: "hcn flp flp dtl" "mar chr chr chr" "mar chr chr chr" "mar chr chr chr" "mar tfe tfe tfe" "mar tfe tfe tfe" "mar mdt mdt mdt" "mar mdt mdt mdt" "ftr ftr ftr ftr";
  }
}

@media only screen and (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px repeat(3, 1fr) 50px;
    grid-template-areas: "hcn flp flp flp flp dtl" "mar chr chr chr chr mdt" "mar chr chr chr chr mdt" "mar tfe tfe tfe tfe mdt" "ftr ftr ftr ftr ftr ftr";
  }
}

.serial-comm {
  grid-area: hcn;
}

.file-path {
  grid-area: flp;
}

.data-load {
  grid-area: dtl;
}

.method-param {
  grid-area: mar;
}

.chart-window {
  grid-area: chr;
}

.meta-data {
  grid-area: mdt;
}

.temporary-file {
  grid-area: tfe;
}

.footer {
  grid-area: ftr;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

.copy {
  grid-column: 2/4;
  justify-self: center;
}

@media screen and (min-width: 1200px) {
  .copy {
    grid-column: 3/5;
  }
}

.grid {
  background-color: #c8cbce;
  border: 5px double #6b6767;
}

.grid__cell {
  background-color: #dcdfe0;
  border: 5px double #6b6767;
  padding: 5px;
}

.grid .serial-comm {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-column-gap: 3px;
}

.grid .method-param .params_form {
  display: grid;
  grid-template-columns: 5fr 3fr;
  grid-template-rows: auto;
}

.btn,
.label {
  outline: none;
  background-color: #a5a8a8;
  color: #080808;
  font-weight: 600;
  text-shadow: 1px 1px 1px #c8cbce;
}

.btn,
.options {
  border: 1px solid #6b6767;
}

.btn:hover {
  background-color: #c8cbce;
}

.btn:active {
  box-shadow: 1px 1px 1px #c8cbce;
}

.btn:disabled {
  color: #d3340c;
  text-shadow: 1px 1px 1px #0fa13b;
}

.footer {
  background-color: #053a6b;
  color: #dcdfe0;
  padding: 0 10px;
}
