@charset "utf-8";

// colors
$grey-primary: #6b6767;
$grey-secondary: #a5a8a8;
$grey-tertiary: #c8cbce;
$white-primary: #dcdfe0;
$black-primary: #080808;
$red-primary: #d3340c;
$green-primary: #0fa13b;
$blue-primary: #053a6b;

// border
$border-width-primary: 5px;
$border-width-secondary: 3px;
$border-width-tertiary: 1px;

// margin and padding 
$margin-primary: 15px;
$margin-secondary: 10px;
$margin-tertiary: 5px;

$padding-primary: 10px;
$padding-secondary: 5px;
$padding-tertiary: 1px;
