@charset "utf-8";

@import "variables";
@import "reset";
@import "layout";

body {
    font-size: 20px;
}


.grid {
    font-size: 1em;
    background-color: $grey-tertiary;
    border: $border-width-secondary groove $grey-tertiary;
    border-radius: 5px;
    
    &__cell {
        background-color: $white-primary;
        border: $border-width-secondary groove $grey-tertiary;
        border-radius: 5px;
        padding: $padding-secondary;
    }

    .serial-comm {
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-column-gap: $border-width-secondary;

    }

    .method-params {
        &__form{
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        &__input {
            margin-bottom: $margin-tertiary;
            display: grid;
            grid-template-columns: 5fr 3fr;
            grid-template-rows: auto;
            grid-column-gap: $border-width-secondary;

        }
        
        &__btn {
            margin-top: auto;
            
            .btn {
                padding: $padding-secondary;
                width: 100%;
                
                @media only screen and (min-width: 992px) {
                    padding: $padding-primary;
                }
            }
        }
    }
}

.btn {
    font-weight: 600;
}

.btn,
.label {
    background-color: $grey-tertiary;
    color: $black-primary;
    font-size: 0.8em;
    outline: none;
}

.btn,
.input,
.label,
.options {
    border: $border-width-tertiary solid  $grey-primary;
    border-radius: 3px;
    padding: $padding-secondary;
    text-shadow: 1px 1px $grey-tertiary;
    width: 100%;
    
    &:hover {
        box-shadow: 2px 2px 2px $grey-secondary;
    }
}

.input {
    text-align: center;
}

.options {
    text-align-last: center;
}

.btn:hover {
    background-color: $grey-secondary;
  }
  
  .btn:active {
    box-shadow: 1px 1px 1px $grey-tertiary;
  }
  
  .btn:disabled {
    color: $red-primary;
    text-shadow: 1px 1px 1px $green-primary;
  }


.footer {
    background-color: $blue-primary;
    color: $white-primary;
    padding: 0 $padding-primary;
}
