@charset "utf-8";

@import "variables";
@import "reset";
@import "layout";

.grid {
    background-color:#9c9999;
    border: 5px double #959595;

    &__cell {
        background-color: #cbcccc;
        border: 5px double #7e7c7c;

    }
}


.serial-comm {
    height: 100%;
    width: 100%;
    
    &__connection {
        height: 100%;
        width: 100%;
        padding: 5px;
        display: grid;
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        grid-template-columns: 3fr 1fr;
        justify-content: center;
        align-items: center;

        &--btn,
        &--options {
            padding: 5px;
            display: inline-block;
            height: inherit;
            width: 100%;
        }
    }
}

.btn {
    outline: none;
    background-color: #b7b9b9;
    border: 1px solid  #5f5d5d;
    color: #2e2a2a;
    font-weight: 600;
    text-shadow: 1px 1px 1px #9c9999;
}

.btn:hover {
    background-color: #cbcccc;
  }
  
  .btn:active {
    box-shadow: 1px 1px 1px #959595;
  }
  
  .btn:disabled {
    color: #e71717;
    text-shadow: 1px 1px 1px #2b2a2a;
  }
