@charset "utf-8";

@import "variables";
@import "reset";
@import "layout";


.grid {
    background-color: $grey-tertiary;
    border: $border-width-primary double $grey-primary;

    &__cell {
        background-color: $white-primary;
        border: $border-width-primary double $grey-primary;
        padding: $padding-secondary;
    }

    .serial-comm {
        display: grid;
        grid-template-columns: 5fr 3fr;
        grid-column-gap: $border-width-secondary;
    }

    .method-param {
        .params_form{
            display: grid;
            grid-template-columns: 5fr 3fr;
            grid-template-rows: auto;

            
        }
    }
}

.btn,
.label {
    outline: none;
    background-color: $grey-secondary;
    color: $black-primary;
    font-weight: 600;
    text-shadow: 1px 1px 1px $grey-tertiary;
}

.btn,
.options {
    border: $border-width-tertiary solid  $grey-primary;

}

.btn:hover {
    background-color: $grey-tertiary;
  }
  
  .btn:active {
    box-shadow: 1px 1px 1px $grey-tertiary;
  }
  
  .btn:disabled {
    color: $red-primary;
    text-shadow: 1px 1px 1px $green-primary;
  }


.footer {
    background-color: $blue-primary;
    color: $white-primary;
    padding: 0 $padding-primary;
}
